// rename the file with .env after fill in the details
ACCOUNT_IDS=acc1,acc2

ACC1_LABEL=My Account 1
ACC1_USERNAME=your_username_1
ACC1_PASSWORD=your_password_1
ACC1_CONTACT_NO=0123456789
ACC1_FULL_NAME=Your Name 1

ACC2_LABEL=My Account 2
ACC2_USERNAME=your_username_2
ACC2_PASSWORD=your_password_2
ACC2_CONTACT_NO=0199999999
ACC2_FULL_NAME=Your Name 2